<html>
    <head>
         <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
     integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

            <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    
    
    <style>
            .container {
                display: flex;
                justify-content: center;
                padding-top: 5%;
            }
            .back-button{
                position: absolute;
                top: 30px;
                left: 30px;
            }
            #prosandcons{
                
                width: 700px;
                height: 570px;
                margin: 0 auto;
            }
            .card-top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              background-color: white;
            }

            .gisuBan{
              display : flex;
              flex-direction: row;
              
            }
            .gisu{
              padding-right:5px;
            }
            .card img{
              width: 100%;
              height: 200px;
              
            }
            .pros {
                display: inline-block;
                background-color:rgba(121, 183, 153, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;
                margin-bottom: 9px;
            }
            .cons {
                display: inline-block;
                background-color: rgba(255, 75, 82, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;
                margin-bottom: 9px;
            }
            .first_pro{
              background-color:rgba(121, 183, 153, 0.8);
            }
            .second_pro{
              background-color:rgba(121, 183, 153, 0.5);
            }
            .third_pro{
              background-color:rgba(121, 183, 153, 0.3);
            }

            .first_con{
              background-color: rgba(255, 75, 82, 0.8);
            }
            .second_con{
              background-color: rgba(255, 75, 82, 0.5);
            }
            .third_con{
              background-color: rgba(255, 75, 82, 0.3);
            }
    </style>
    <title>
        prosandcons - 결과 페이지
    </title>
    </head>
    <body>
  

    <div class="container">
    
        <div class="header">
            <div class="back-button">
                <a href="/users"><h1>←</h1></a>
            </div>
        </div>
       
      <div id="prosandcons">
        
      </div>
      

    </div>
    <div class="container">
    <div class="card-columns">
                {% for card in user_list %}
                 <div class="card" style=" cursor: pointer;" onclick="location.href='user/{{card.uuid}}'">
                  <img src={{ card.imgUrl }} class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="card-top">
                      <h5 class="card-title">{{card.name}}</h5>
                      <div class="gisuBan">
                        <h6 class="gisu">{{card.gisu}}기</h6>
                        <h6 class="ban">{{card.ban}}반</h6>
                      </div>
                    </div>

                    <p class="card-text">
                      <div class="">
                        <span class="pros first_pro">{{card.first_pro}}</span>
                        <span class="pros second_pro">{{card.second_pro}}</span>
                        <span class="pros third_pro">{{card.third_pro}}</span>
                      </div>
                      <div class="">
                        <span class="cons first_con">{{card.first_con}}</span>
                        <span class="cons second_con">{{card.second_con}}</span>
                        <span class="cons third_con">{{card.third_con}}</span>
                      </div>
                    </p>
                  </div>
                </div>
                  
                {% endfor %}
        </div>
        </div>

   <script>
    let pros = {{ pros }}
    pros_keys = Object.keys(pros)
    pros_values = Object.values(pros)

    let cons = {{ cons }}
    cons_keys = Object.keys(cons)
    cons_values = Object.values(cons)
 
    
   anychart.onDocumentReady(function () {
            var data = [
                
            ];

            for(n in pros_keys){
                data.push({
                            "x": pros_keys[n],
                            "value": pros_values[n],
                            category: "장점"
                            })
            }

            for(n in cons_keys){
                data.push({
                            "x": cons_keys[n],
                            "value": cons_values[n],
                            category: "단점"
                            })
            }


            var chart = anychart.tagCloud(data);
            // create and configure a color scale.
            var customColorScale = anychart.scales.ordinalColor();
            customColorScale.colors(["#79B799", "#FF4B52"]);

            // set the color scale as the color scale of the chart
            chart.colorScale(customColorScale);

            // add a color range
            chart.colorRange().enabled(true);
            chart.angles([0,30,90]);
            chart.container("prosandcons");
            
            chart.draw();
        });

    </script>
    </body>
</html>