<html>
    <head>
         <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
     integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
        <style>
            .container {
                margin: 0 auto;
                margin-top: 3%;
            }
            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .title{
                padding-bottom: 50px;
            }
            .withdrawal-btn{
                background-color: gray;
                color: white;
                border-radius: 8px;
            }
            .pick-area{
                padding: 10px;
                border: 1px solid gray;
                border-radius: 10px;
                box-shadow: 5px 5px lightgray;
            }
            .pick-prosandcons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                
            }
            
            
            .pick-button {
                background-color: rgba(191, 191, 191, 0.5);
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
                margin: 5px;
                border-radius: 10px;
            }
            
            .pick-comment {
                font-weight: bold;
                padding-bottom: 15px;
            }
            .row {
                padding-top: 30px;
            }
            .edit-btn {
                margin-top: 30px;
                background-color:rgb(121, 183, 153);
                color: white;
                width: 100px;
            }
            .center {
                display: flex;
                justify-content: center;
            }
            label {
                width: 100%;
            }
        </style>
        <script>
            function delete_user(){
                var link = 'https://prosandcons.shop';

                $.ajax({
                    type: "DELETE",
                    url: "/user",
                    success: function (response) {
                        if (response["result"] == "success") { 
                            alert("회원 탈퇴 완료!");
                            location.href=link;
                        } else {
                            alert("회원탈퇴가 불가합니다!");
                            window.location.reload();
                        }
                    }
                })
            }
        </script>    
        <title>
            prosandcons - 장단점 수정 페이지
        </title>
    </head>
    <body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>당신이 생각하는 강한 성향 순서대로 적어주세요</h1>
            </div>
            <div class="withdrawal">
                <button type="button" class="withdrawal-btn btn" data-toggle="modal" data-target="#withdrawalModal">회원탈퇴</button>
                <!-- Modal -->
                <div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="withdrawalModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="withdrawalModalLabel">회원탈퇴</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            정말 탈퇴하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
                            <button type="submit" class="btn btn-danger" onclick="delete_user()">예</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pick-area">
            <div class="pick-comment center">
                아래의 키워드를 누르면 복사가 됩니다.
                원하는 키워드를 눌러 붙여넣어보세요!
            </div>
            <div class="pick-prosandcons">
                {% for x in range(35) %}
                    <div class="pick-button" style="cursor: pointer;">{{ characters[range(0,263) | random] }}</div>
                {% endfor %}
            </div>
        </div>
        <form action="update" method="post">
            <div class="prosandcons">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">1순위</label>
                    <div class="col">
                        <input type="text" class="form-control pros" name="pro_first" value="{{ pros["first"] }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control cons" name="con_first" value="{{ cons["first"] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">2순위</label>
                    <div class="col">
                        <input type="text" class="form-control pros" name="pro_second" value="{{ pros["second"] }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control cons" name="con_second" value="{{ cons["second"] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">3순위</label>
                    <div class="col">
                        <input type="text" class="form-control pros" name="pro_third" value="{{ pros["third"] }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control cons" name="con_third" value="{{ cons["third"] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">4순위</label>
                    <div class="col">
                        <input type="text" class="form-control pros" name="pro_fourth" value="{{ pros["fourth"] }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control cons" name="con_fourth" value="{{ cons["fourth"] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">5순위</label>
                    <div class="col">
                        <input type="text" class="form-control pros" name="pro_fifth" value="{{ pros["fifth"] }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control cons" name="con_fifth" value="{{ cons["fifth"] }}">
                    </div>
                </div>
            
            </div>
            <div class="center">
                <button type="submit" class="edit-btn btn">수정</button>
            </div>
        </form>
    </div>
    </body>
    <script>
        const pickBtns = document.querySelector('.pick-prosandcons');
        console.log(pickBtns.children)

        // button 클릭 이벤트
        document.querySelector('.pick-prosandcons').onclick = (e) => {
        // div의 내용(textContent)을 복사한다.
        console.log(e.target)
            window.navigator.clipboard.writeText(e.target.textContent).then(() => {
                // 복사가 완료되면 호출된다.
                
            });
        };
    </script>
</html>