<html>
    <head>
         <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
     integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
        <style>
            .container {
                margin: 0 auto;
            }
            .header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 50px;
              margin-bottom: 50px;
              margin-left: -30px;
            }
            .card-top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              background-color: white;
            }
            .title{
                font-weight: bolder;
            }
            .logout-btn{
              background-color: gray;
              border-radius: 8px;
              color: white;
              margin-right: 10px;
            }
            .setting-btn img{
              border-radius: 50%;
              width: 35px;
              height: 35px;
            }
            .main-btn-group{
              display: flex;
              flex-direction: row;
            }
            .pros {
                background-color:rgba(121, 183, 153, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;
            }
            .cons {
                background-color: rgba(255, 75, 82, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;
            }
        </style>
        <script>

            function makeCard(resultUrl, name, ban, first_pro, second_pro, first_con, second_con){
            let card_html = `
            <div class="card" style=" cursor: pointer;" onclick= "location.href='';">
                  <img src="https://www.google.co.kr/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="card-top">
                      <h5 class="card-title">${name}</h5>
                      <!-- 반 적용 -->
                      <h6 class="ban">${ban}</h6>
                    </div>

                    <p class="card-text">
                        <span class="pros">${first_pro}</span>
                        <span class="pros">${second_pro}</span>
                        <span class="cons">${first_con}</span>
                        <span class="cons">${second_con}</span>
                    </p>
                  </div>
                </div>
            `
          }
        </script>
    <title>
    prosandcons
    </title>
    </head>
    <body>
        <div class="container">
            <div class="header">
              <div class="title">
                  <h1>너의 장단점은</h1>
              </div>
              <div class="main-btn-group">
                <div class="logout">
                  <form action="logout" method="post">
                    <button type="submit" class="logout-btn btn">로그아웃</button>
                  </form>
                </div>
                <div class="setting-btn">
                  <a href="/templates/prosandcons_update.html"><img src="../static/defaultImage.png"></a>
                </div>
              </div>
            </div>
            <div class="card-columns">
                <div class="card" onclick="location.href='http://127.0.0.1:5000/user/{{user_list[0].uuid}}'">
                  <img src="https://www.google.co.kr/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="card-top">
                      <h5 class="card-title">{{ user_list[0].name }}</h5>
                      <!-- 반 적용 -->
                      <h6 class="ban">{{ user_list[0].ban }}반</h6> 
                    </div>

                    <p class="card-text">
                      <span class="pros">{{ user_list[0].first_pro }}</span>
                      <span class="pros">{{ user_list[0].second_pro }}</span>
                      <span class="cons">{{ user_list[0].first_con }}</span>
                      <span class="cons">{{ user_list[0].second_con }}</span>
                  </p>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>