<html>
    <head>
         <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
     integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
        <style>
            .container {
                margin: 0 auto;
            }
            .header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 50px;
              margin-bottom: 50px;
              margin-left: -30px;
            }
            .card-top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              background-color: white;
            }
            .card img{
              width: 100%;
              height: 200px;
              
            }
            .title{
                font-weight: bolder;
            }
            .title a{
              text-decoration: none;
              color: black;
            }
            .logout-btn{
              background-color: gray;
              border-radius: 8px;
              color: white;
              margin-right: 10px;
            }
            .setting-btn img{
              border-radius: 50%;
              width: 35px;
              height: 35px;
            }
            .division{
              display: flex;
              justify-content: center;
              border: 1px solid black;
              border-radius: 10px;
              padding: 10px;

            }
            .division button{
              margin-left: 5px;
            }
            .aBan-btn {
              background-color: rgb(255, 75, 82);
            }
            .bBan-btn {
              background-color:rgb(121, 183, 153);
            }
            .main-btn-group{
              display: flex;
              flex-direction: row;
            }
            .pros {
                display: inline-block;
                background-color:rgba(121, 183, 153, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;
                margin-bottom: 9px;
            }
            .cons {
                display: inline-block;
                background-color: rgba(255, 75, 82, 0.5);
                color: black;
                font-size: 15px;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 8px;

            }
        </style>
        
    <title>
    prosandcons
    </title>
    </head>
    <body>
        <div class="container">
            <div class="header">
              <div class="title">
                  <a href="/"><h1>너의 장단점은</h1></a>
              </div>
              <div class="main-btn-group">
                <div class="logout">
                  <form action="logout" method="post">
                    <button type="submit" class="logout-btn btn">로그아웃</button>
                  </form>
                </div>
                <div class="setting-btn">
                  <img src="../static/defaultImage.png" onclick="location.href='update'" alt=""/>
                </div>
              </div>
            </div>
            <div class="division">
              <button type="button" class="btn aBan-btn">A반</button>
              <button type="button" class="btn bBan-btn">B반</button>
            </div>
            <div class="card-columns">
                {% for card in user_list %}
                 <div class="card" style=" cursor: pointer;" onclick="location.href='user/{{card.uuid}}'">
                  <img src={{ card.imgUrl }} class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="card-top">
                      <h5 class="card-title">{{card.name}}</h5>
                      <!-- 반 적용 -->
                      <h6 class="ban">{{card.ban}}반</h6>
                    </div>

                    <p class="card-text">
                        <span class="pros">{{card.first_pro}}</span>
                        <span class="pros">{{card.second_pro}}</span>
                        <span class="cons">{{card.first_con}}</span>
                        <span class="cons">{{card.second_con}}</span>
                    </p>
                  </div>
                </div>
                  
                {% endfor %}
            </div>
        </div>
    </body>
</html>